.Back{
    background-color: white;
}

.title{
    text-align: center;
    font-size: 3rem;
}

.text{
    justify-content: center;
    text-align: center;
}

.productsContainer{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 0fr);
    row-gap: 20px;
    column-gap: 75px;
    justify-items: center;
    justify-content: center;
    margin-top: 50px;
}

.product{
    
     width: 200px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     align-self: center;
     gap: 10px;

}

.productdos{

     display: flex;
     flex-direction: row;
     justify-content: center;
     gap: 10px;
     border: none;

}

.product img{
    width: 100%;
}

.product button{
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
}

.productdos button{
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 15px;
    font-size: 1rem;

}

button:hover{
    background-color: #cecece;
}

.ReleaseName{
    cursor: pointer;
    text-decoration: none ;
    color: Black;
    justify-content: center;
}
