.Back{
    background-color: white;
}

.title{
    text-align: center;
    font-size: 5rem;
}

.title2{
    padding-top: 25px;
    text-align: center;
    font-size: 2rem;
}

.text{
    padding: 0;
    margin: 0;
    justify-content: center;
    text-align: center;
    list-style: none;
    font-size: 2rem;
}

.artist{
    
    text-align: center;
    font-size: 2rem;
    justify-content: space-around;
    gap: 10px;
    margin: 20px;
    list-style: none;
    text-decoration: none;    

}